<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AniadirHuesped</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.AniadirHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AniadirReserva</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.AniadirReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHuesped</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.EditarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarReserva</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.EditarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarHuesped</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.EliminarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReserva</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.EliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Huespeds</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.Huespeds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservas</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.Reservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerHuesped</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.VerHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerReserva</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.VerReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AniadirHuespedWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.AniadirHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AniadirReservaWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.AniadirReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarHuespedWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.EditarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarReservaWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.EditarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarHuespedWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.EliminarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReservaWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.EliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuespedsWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.Huespeds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.Reservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerHuespedWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.VerHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerReservaWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.VerReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarHuesped</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.BuscarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarHuespedWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.BuscarHuesped</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarReservaWS</servlet-name>
        <servlet-class>com.distribuidos.sd12015.servlets.ws.BuscarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AniadirHuesped</servlet-name>
        <url-pattern>/AniadirHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AniadirReserva</servlet-name>
        <url-pattern>/AniadirReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHuesped</servlet-name>
        <url-pattern>/EditarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarReserva</servlet-name>
        <url-pattern>/EditarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarHuesped</servlet-name>
        <url-pattern>/EliminarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReserva</servlet-name>
        <url-pattern>/EliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Huespeds</servlet-name>
        <url-pattern>/Huespeds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservas</servlet-name>
        <url-pattern>/Reservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerHuesped</servlet-name>
        <url-pattern>/VerHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerReserva</servlet-name>
        <url-pattern>/VerReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AniadirHuespedWS</servlet-name>
        <url-pattern>/WS/AniadirHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AniadirReservaWS</servlet-name>
        <url-pattern>/WS/AniadirReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarHuespedWS</servlet-name>
        <url-pattern>/WS/EditarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarReservaWS</servlet-name>
        <url-pattern>/WS/EditarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarHuespedWS</servlet-name>
        <url-pattern>/WS/EliminarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReservaWS</servlet-name>
        <url-pattern>/WS/EliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuespedsWS</servlet-name>
        <url-pattern>/WS/Huespeds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasWS</servlet-name>
        <url-pattern>/WS/Reservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerHuespedWS</servlet-name>
        <url-pattern>/WS/VerHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerReservaWS</servlet-name>
        <url-pattern>/WS/VerReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarHuesped</servlet-name>
        <url-pattern>/BuscarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarHuespedWS</servlet-name>
        <url-pattern>/WS/BuscarHuesped</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarReservaWS</servlet-name>
        <url-pattern>/WS/BuscarReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
